html, body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.u-text-blue {
  color: rgb(75, 194, 212);
}

.u-text-red {
  color: rgb(245, 122, 128);
}

.u-text-pink {
  color: rgb(243, 132, 186);
}

.u-text-green {
  color: rgb(55, 215, 129);
}

.u-text-center {
  text-align: center;
}

.u-width-85 {
  width: 85%;
}

.u-width-70 {
  width: 70%;
}

.u-width-55 {
  width: 55%;
}

.u-height-full {
  height: 100%;
}

.u-width-100 {
  width: 100%;
}

.u-flex-vertical {
  display: flex;
  flex-direction: column;
}

.u-flex-horizontal {
  display: flex;
  flex-direction: row;
}

.u-flex-align-center {
  align-items: center;
}

.Container {
  margin: 0 10px;
}

.Header {
  display: flex;
  flex-wrap: wrap;
}

.Header-logo {
  flex-grow: 1;
}

.Header-sub {
  text-align: center;
  margin-top: 20px;
}

.u-space-top {
  margin-top: 30px;
}

.u-space-bottom-small {
  margin-bottom: 10px;
}

.u-space-right-small {
  margin-right: 10px;
}

@media (min-width: 768px) {
  .u-space-top {
    margin-top: 50px;
  }

  .u-space-right-small {
    margin-right: 20px;
  }

  .u-sm-space-bottom-none {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .Container {
    margin: 0 50px;
  }

  .Header {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .Header-logo {
    flex-shrink: 0;
  }

  .Header-sub {
    text-align: right;
    width: 320px;
    margin-top: 0;
  }
}

.LandingForm {
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.LandingForm-input {
  border-radius: 3px;
  border: 2px solid #bababa;
  font-size: 16px;
  padding: 15px;
}

.LandingForm-button {
  background-color: rgb(75, 194, 212);
  color: #fff;
}

.Footer {
  background-color: rgb(70, 71, 72);
  height: 80px;
  color: #7a7a7a;
  font-size: 14px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer-link {
  color: #43bbcb;
  text-decoration: none;
}
