html, body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.u-text-blue {
  color: rgb(75, 194, 212);
}

.u-text-red {
  color: rgb(245, 122, 128);
}

.u-text-pink {
  color: rgb(243, 132, 186);
}

.u-text-green {
  color: rgb(55, 215, 129);
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-width-85 {
  width: 85%;
}

.u-width-70 {
  width: 70%;
}

.u-width-55 {
  width: 55%;
}

.u-height-100 {
  height: 100%;
}

.u-width-100 {
  width: 100%;
}

.u-flex-vertical {
  display: flex;
  flex-direction: column;
}

.u-flex-horizontal {
  display: flex;
  flex-direction: row;
}

.u-flex-align-center {
  align-items: center;
}

.u-flex-justify-center {
  justify-content: center;
}

.u-flex-justify-space-between {
  justify-content: space-between;
}

.u-margin-top-50 {
  margin-top: 50px;
}

.u-margin-left-50 {
  margin-left: 50px;
}

.u-margin-right-50 {
  margin-right: 50px;
}

.u-margin-right-20 {
  margin-right: 20px;
}

.u-opacity-0 {
  opacity: 0;
}

.LandingForm {
  font-size: 20px;
}

.LandingForm-input {
  border-radius: 3px;
  border: 2px solid #bababa;
  font-size: 16px;
  padding: 15px;
}

.LandingForm-button {
  background-color: rgb(75, 194, 212);
  color: #fff;
}

.Footer {
  background-color: rgb(70, 71, 72);
  height: 80px;
  color: #7a7a7a;
  font-size: 14px;
  position: relative;
  z-index: 1;
}

.Footer-link {
  color: #43bbcb;
  text-decoration: none;
}
