<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="landing-button">

  <template>
    <div
      class$="LandingButton LandingButton--{{size}} LandingButton--{{color}}"
      on-mouseleave="_onMouseLeave">
      <paper-button
        id="button"
        class="LandingButton-button"
        on-mouseenter="_onMouseEnter">
        <div class="LandingButton-title">
          <content select=".title"></content>
        </div>
      </paper-button>
      <div id="body" class="LandingButton-body">
        <div class="LandingButton-bodyContent">
          <content select=".body"></content>
        </div>
      </div>
    </div>
  </template>

  <style>
    .LandingButton {
      margin: 0 0 10px;
    }

    .LandingButton-button {
      border-radius: 0;
      color: #fff;
      text-transform: none;
      font-family: Roboto Slab, Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 100;
      width: 100%;
      margin: 0;
    }

    .LandingButton--large .LandingButton-button {
      height: 140px;
      font-size: 34px;
    }

    .LandingButton--small .LandingButton-button {
      height: 100px;
      font-size: 24px;
    }

    .LandingButton-title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .LandingButton--blue .LandingButton-button,
    .LandingButton--blue .LandingButton-body {
      background-color: rgb(75, 194, 212);
    }

    .LandingButton--red .LandingButton-button,
    .LandingButton--red .LandingButton-body {
      background-color: rgb(245, 122, 128);
    }

    .LandingButton--pink .LandingButton-button,
    .LandingButton--pink .LandingButton-body {
      background-color: rgb(243, 132, 186);
    }

    .LandingButton--green .LandingButton-button,
    .LandingButton--green .LandingButton-body {
      background-color: rgb(55, 215, 129);
    }

    .LandingButton--purple .LandingButton-button,
    .LandingButton--purple .LandingButton-body {
      background-color: rgb(204, 140, 246);
    }

    .LandingButton-body {
      box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      color: #fff;
      line-height: 2em;
    }

    .LandingButton-bodyContent {
      width: 60%;
      margin: 0 auto;
      padding: 50px 0;
    }
  </style>

  <script src="/bower_components/gsap/src/minified/TweenMax.min.js"></script>
  <script>
    Polymer({
      is: 'landing-button',

      ready: function() {
        this._expandBody = TweenMax.from(this.$.body, 0.5, {
          height: 0,
          ease: Power1.easeInOut
        }).pause();
        this._shrinkTitle = TweenMax.to(this.$.button, 0.5, {
          height: this.getAttribute('size') === 'large' ? 75 : 60,
          ease: Power1.easeInOut
        }).pause();
      },

      shrink: function() {
        this._shrinkTitle.play();
      },

      expand: function() {
        this._shrinkTitle.reverse();
      },

      _onMouseEnter: function() {
        this._expandBody.play();
        this._shrinkTitle.play();
      },

      _onMouseLeave: function() {
        this._expandBody.reverse();
        this._shrinkTitle.reverse();
      }
    });
  </script>

</dom-module>
